/* app css stylesheet */

.municipality-logo {
  width: 120px;
  height: 120px;
  text-align: center;
  background: black;
  color: white;
}

.municipality-logo span {
  font-size: 48px;
  display: inline-block;
  margin-top: 25px;
}

#wrapper {
}

.result {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.home-item img {
  width: 140px;
  height: 140px;
  margin: auto;
}

.home-item h2 a {
  color: inherit;
}

.result h3 {
  margin-top: 0px;
}

.attachments li {
  /* essential */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
  width: 100%;
}

#sidebar {
  z-index: 1001;
  background-color: white;
}

@media(max-width:767px){
  .result h2 {
    font-size: 15px;
    font-weight: bold;
  }
  .result h3 {
    font-size: 14px;
    font-weight: bold;
  }
}
@media(min-width:768px){

}
@media(min-width:992px){
  .result h2 {
    font-size: 16px;
    font-weight: bold;
  }
  .result h3 {
    font-size: 15px;
    font-weight: bold;
  }

}
@media(min-width:1200px){
  .result h2 {
    font-size: 17px;
    font-weight: bold;
  }
  .result h3 {
    font-size: 16px;
    font-weight: bold;
  }

}

@media screen and (max-width: 1200px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -250px;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -250px;
  }
  .row-offcanvas-right.active {
    right: 250px;
  }
  .row-offcanvas-left.active {
    left: 250px;
    padding-right: 50px;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 260px;

  }

}

@media screen and (min-width: 400px) {
}

@media screen and (max-width: 400px) {
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -80%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -80%;
  }
  .row-offcanvas-left.active {
    left: 80%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 80%;
    padding-left: 40px;

  }
  .menubtn{
    display:none;
  }
}

.municipalities-list a {
  width: 300px;
  margin: 5px;
}

.panel-title a {
  width: 100%;
  display: inline-block;
}
