/* app css stylesheet */

.municipality-logo {
  width: 120px;
  height: 120px;
  text-align: center;
  background: black;
  color: white;
}

.municipality-logo span {
  font-size: 48px;
  display: inline-block;
  margin-top: 25px;
}

#wrapper {
  margin-top: 70px;
}

.result {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.home-item img {
  width: 140px;
  height: 140px;
  margin: auto;
}

.home-item h2 a {
  color: inherit;
}

.result h3 {
  margin-top: 0px;
}

.attachments li {
  /* essential */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
  width: 100%;
}

@media(max-width:767px){
  .result h2 {
    font-size: 15px;
    font-weight: bold;
  }
  .result h3 {
    font-size: 14px;
    font-weight: bold;
  }
}
@media(min-width:768px){

}
@media(min-width:992px){
  .result h2 {
    font-size: 16px;
    font-weight: bold;
  }
  .result h3 {
    font-size: 15px;
    font-weight: bold;
  }

}
@media(min-width:1200px){
  .result h2 {
    font-size: 17px;
    font-weight: bold;
  }
  .result h3 {
    font-size: 16px;
    font-weight: bold;
  }

}
