/* app css stylesheet */

#wrapper {
  margin-top: 70px;
}

.result {
  margin-bottom: 20px;
}

.home-item img {
  width: 140px;
  height: 140px;
  margin: auto;
}

.home-item h2 a {
  color: inherit;
}

.result h2 {
}

.attachments li {
  /* essential */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
  width: 100%;
}

@media(max-width:767px){
  .result h2 {
    font-size: 15px;
  }
  .result h3 {
    font-size: 14px;
  }
}
@media(min-width:768px){

}
@media(min-width:992px){
  .result h2 {
    font-size: 16px;
  }
  .result h3 {
    font-size: 15px;
  }

}
@media(min-width:1200px){
  .result h2 {
    font-size: 17px;
  }
  .result h3 {
    font-size: 16px;
  }

}
