<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="oriApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="oriApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="oriApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="oriApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Open Raadsinformatie - Zoeken in stukken van de raad</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-rangeslider/angular.rangeSlider.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-chart.js/dist/angular-chart.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-daterangepicker/daterangepicker.css"/>
  <link rel="stylesheet" type="text/css" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toon/verberg navigatie</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <button type="button" id="button-cog" class="navbar-toggle" ng-show="has_filter()" ng-click="toggle_sidebar()" style="padding: 6px 10px; color: white;" ng-controller="NavbarCtrl">
           <span class="glyphicon glyphicon-cog white"></span>
         </button>
         <a class="navbar-brand" href="#/">Open Raadsinformatie</a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <form class="navbar-form navbar-left" role="search" ng-controller="SearchCtrl">
          <div class="form-group">
            <input type="text" class="form-control" name="q" ng-model="query" placeholder="Zoek iets, bv. Amsterdam">
          </div>
          <button type="submit"  ng-click="search(q)" class="btn btn-default">Zoeken</button>
         </form>
         <ul class="nav navbar-nav navbar-right">
           <li><a href="http://www.openraadsinformatie.nl/" target="_blank">Over <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></li>
           <li><a href="https://github.com/openstate/open-raadsinformatie" target="_blank">Github <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></li>
           <li><a href="http://docs.openraadsinformatie.nl/" target="_blank">API Docs <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></li>
           <li><a href="http://www.openstate.eu/contact/">Contact</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>

  <div id="wrapper" class="container">
    <div ng-view></div>
  </div>

  <div class="text-center" style="margin-top: 2em;">
    <a href="http://openstate.eu" target="_blank" style="color: inherit;">
      Een project van <img src="images/openstatelogo.png" width="50" height="51" style="vertical-align: middle; margin-top: -10px" />
    </a>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/lz-string/libs/lz-string.min.js"></script>
  <script src="bower_components/moment/min/moment-with-locales.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src='bower_components/angular-media-queries/match-media.js'></script>
  <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
  <script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
  <script src="bower_components/Chart.js/Chart.min.js"></script>
  <script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
  <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
  <script src="app.js"></script>
  <script src="components/home/home.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="components/ori-api/ori-api.js"></script>
  <script src="components/constants/constants.js"></script>
  <script src="components/options/options.js"></script>
  <script src="components/viernulvier/viernulvier.js"></script>
  <script src="components/navbar/navbar.js"></script>
  <script src="components/search/search.js"></script>
  <script src="components/council/council.js"></script>
</body>
</html>
