<p style="text-align: center; font-size: 19px;">
Gebruik bovenstaand zoekveld om te zoeken naar stukken van {{ municipalities.meta.total }} overheden
</p>

<!--
<div ng-repeat="municipalities in chunked_municipalities" class="row">
  <div ng-repeat="municipality in municipalities" class="col-md-4 text-center home-item">
    <h2><a href="#/g/{{ municipality.meta.collection }}">{{ municipality.name }}</a></h2>
    <p><a class="btn btn-default" href="#/g/{{ municipality.meta.collection }}">Bekijken &rarr;</a></p>
  </div>
</div>
-->
