<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="#/g/{{ municipality }}/">Stukken</a></li>
      <li role="presentation" class="active"><a href="#/c/{{ municipality }}">Leden</a></li>
    </ul>
  </div>
</div>

<div ng-repeat="classification in all_classifications()">
  <div ng-repeat="organization in organizations_by_classification(classification)">
    <div class="row">
      <div class="col-xs-12"><h2>{{ organization.name }}</h2></div>
    </div>

    <div ng-repeat="person in persons_by_organization(organization)" class="council-member" style="margin-bottom: 1em;">
      <div class="row">
        <div class="col-xs-12">
          <h3>{{ person.name }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
          <img src="{{ person | person_img | unsafe }}" alt="..." class="img-thumbnail img-responsive" style="max-width: 140px; max-height: 140px;">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-10">
          <p ng-bind-html="person.description | unsafe"></p>
          <ul ng-repeat="member in person.memberships" ng-if="member.organisation.classification != 'Council'" class="list-unstyled">
            <li>{{ member.role }} {{ member.organisation.name }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
