<div class="row">
  <div class="col-xs-8 col-md-10 col-lg-10">
    <h2>{{ result.name }}</h2>
    <p ng-bind-html="result.description | unsafe"></p>
  </div>
  <div class="col-xs-4 col-md-2 col-lg-2">
    <div class="municipality-logo">
      <span>{{ result | municipality_name_short }}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="http://api.openraadsinformatie.nl/v0/{{ result.meta.collection }}/{{ result.meta._type }}/{{ result.id }}" target="_blank">
      <img src="images/json.svg" title="Rauwe JSON data voor dit item" width="40" height="40" class="pull-right">
    </a>
  </div>
</div>
