<div class="row">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        <span ng-bind-html="result.name |highlight_in_full_string:result.meta.highlight.name[0] |unsafe"></span>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a ng-click="filter_on_municipality($event)" class="btn btn-xs btn-default"><i class="fa fa-map-marker"></i> {{ result | municipality_name }}</a>
      <span class="btn btn-xs btn-default btn-nobtn"><i class="fa fa-calendar-o"></i> {{ result.start_date |format_date }}</span>
      <span class="btn btn-xs btn-default btn-nobtn"><i class="fa fa-clock-o"></i> {{ result.start_date |format_time }}</span>
      <a ng-click="filter_on_classification($event)" class="btn btn-xs btn-default"><i class="fa fa-briefcase"></i> {{ result.classification }}</a>
      <span ng-if="result.organisation.name" href="#" class="btn btn-xs btn-default"><i class="fa fa-sitemap"></i> {{ result.organisation.name }}</span>

      <!-- Single button -->
      <div class="btn-group">
        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Meer <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="{{ base_json_url }}/{{ result.meta.collection }}/{{ result.meta._type }}/{{ result.id }}" target="_blank" class="">
              <img src="images/json.svg" title="Rauwe JSON data voor dit item" width="12" height="12" style="margin-top: -3px;"> Data
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div show-more>
        <p></p>
        <p ng-bind-html="result.description | highlight_in_full_string:result.meta.highlight.description[0] |unsafe"></p>

        <div ng-include="'components/search/attachments.html'">
        </div>

      </div>
    </div>
  </div>
</div>
