<div class="row">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        <span ng-bind-html="result.name |highlight_in_full_string:result.meta.highlight.name[0] |unsafe"></span>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <span class="btn btn-xs btn-default"><i class="fa fa-map-marker"></i> {{ result | municipality_name }}</span>
      <span class="btn btn-xs btn-default"><i class="fa fa-calendar-o"></i> {{ result.start_date |format_date }}</span>
      <span class="btn btn-xs btn-default"><i class="fa fa-clock-o"></i> {{ result.start_date |format_time }}</span>
      <a ng-click="filter_on_classification($event)" class="btn btn-xs btn-default"><i class="fa fa-briefcase"></i> {{ result.classification }}</a>
      <span ng-if="result.organisation.name" href="#" class="btn btn-xs btn-default"><i class="fa fa-sitemap"></i> {{ result.organisation.name }}</span>

      <a href="{{ base_json_url }}/{{ result.meta.collection }}/{{ result.meta._type }}/{{ result.id }}" target="_blank" class="btn btn-xs btn-default pull-right">
        <img src="images/json.svg" title="Rauwe JSON data voor dit item" width="12" height="12"> Data
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p><strong>Indiener:</strong> {{ result.creator.name }}</p>
      <p><strong>Resultaat:</strong> {{ result.result }}<p>
      <p style="white-space: pre;">{{ result.text }}</p>

      <ul ng-repeat="source in result.sources" class="list-unstyled attachments">
        <li>
          <a ng-show="source.url.indexOf('https://api.notubiz.nl/events') <= 0" href="{{ source.url}}" target="_blank">
            <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
            {{ source.note || 'Document' }}
          </a>
          <ul ng-repeat="fragment in result.meta.highlight['sources.description']">
            <li ng-if="(result.sources.length == 1) || (source.description.indexOf(clear_highlight(fragment)) > -1)"><span ng-bind-html="fragment |add_ellipses |unsafe"></span></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
