<ul class="nav nav-tabs" ng-if="single_mode">
  <li role="presentation" class="active"><a href="#/g/{{ municipality }}/">Stukken</a></li>
  <li role="presentation"><a href="#/c/{{ municipality }}">Gemeenteraad</a></li>
</ul>

<div class="row" ng-controller="SearchCtrl">
  <div id="sidebar" class="col-md-4 col-xs-12 sidebar-offcanvas" ng-show="is_sidebar_open()">
    <div class="sidebar-wrapper">
      <div class="sidebar-block">
        <h2 class="pull-left">Filters</h2>
        <button type="button" class="btn btn-default pull-right" ng-click="showsidebar()" ng-show="mobile" style="margin-top: 20px; margin-left: 10px;">
            X
        </button>
        <div class="clearfix"></div>
      </div>
      <div class="sidebar-block" ng-if="!single_mode">
        <h3>Gemeenten</h3>
        <ul class="list-group">
          <li ng-repeat="municipality in municipalities_full" class="list-group-item">
            <span class="badge">{{ municipality.count }}</span>
            <input type="checkbox" value="" id="{{ municipality.collection }}" data-toggle="checkbox" ng-model="municipality.active" ng-change="updateOptions()">
            <label for="{{ municipality.collection }}">{{ municipality.name }}</label>
          </li>
        </ul>
      </div>

      <div class="sidebar-block">
        <h3>Periode
          <!-- Standard button -->
          <button type="button" class="btn btn-default pull-right" ng-click="clear_period()">Opnieuw</button>
        </h3>
        <canvas id="ychart" class="chart chart-bar" chart-data="ydata" chart-labels="ylabels" chart-series="yseries">
        </canvas>
        <input date-range-picker class="form-control date-picker" type="text" min="" max="" ng-model="date" options="dateOpts" />
      </div>

      <div class="sidebar-block">
        <h3>Soorten
          <!-- Standard button -->
          <button type="button" class="btn btn-default pull-right" ng-click="toggle_classifications()">Alles aan/uit</button>
        </h3>
        <ul class="list-group">
          <li ng-repeat="classification in classifications_full" class="list-group-item">
            <span class="badge">{{ classification.count }}</span>
            <input type="checkbox" value="" id="{{ classification.term }}" data-toggle="checkbox" ng-model="classification.active" ng-change="updateOptions()">
            <label for="{{ classification.term }}">{{ classification.label }}</label>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="results" class="col-md-8 col-xs-12">
   <div infinite-scroll='nextPage()' infinite-scroll-disabled='nextPageLoading' infinite-scroll-distance='1'>
      <div class="row" ng-if="query">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p>Gezocht naar {{ query }}, {{ meta.total }} resultaten gevonden.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <form class="form-horizontal">
            <label class="control-label col-xs-12">Sorteren op:</label>
            <div class="col-xs-6">
              <select ng-model="sort" name="sort" class="form-control" ng-change="updateOptions()">
                <option value="_score">Relevantie</option>
                <option value="start_date">Datum</option>
              </select>
            </div>
            <div class="col-xs-6">
              <select ng-model="order" name="order" class="form-control" ng-change="updateOptions()">
                <option value="desc">Aflopend</option>
                <option value="asc">Oplopend</option>
              </select>
            </div>
          </form>
        </div>
      </div>

      <div class="row" ng-show="should_show_governing_bodies()">
        <div class="col-xs-12">
          <h2>Overheden</h2>
          <ul class="list-unstyled" ng-repeat="g in get_governing_bodies()['organizations']">
            <li class="pull-left" style="margin-right: 10px;"><a href="#/g/{{ g.meta.collection }}" class="btn btn-xs btn-default ng-binding"><i class="fa fa-map-marker"></i> {{ g.name }}</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2>Resultaten</h2>
        </div>
      </div>

      <div ng-repeat="result in results">
        <div class="col-xs-12">
          <div class="result" ng-class="result.meta._type" ng-if="result.meta._type" ng-include="'components/search/' + result.meta._type + '.html'">
            <h2>{{ result.name }}</h2>
            <p>{{ result.description }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
