<ul class="nav nav-pills nav-justified" ng-if="single_mode">
  <li role="presentation" class="active"><a href="#/g/{{ municipality }}/">Stukken</a></li>
  <li role="presentation"><a href="#/c/{{ municipality }}">Gemeenteraad</a></li>
</ul>

<div class="row">
  <div id="sidebar" class="col-md-4 col-xs-12">
    <div class="sidebar-block">
      <h2>Filters</h2>
    </div>
    <div class="sidebar-block" ng-if="!single_mode">
      <h3>Gemeenten</h3>
      <ul class="list-group">
        <li ng-repeat="municipality in municipalities_full" class="list-group-item">
          <span class="badge">{{ municipality.count }}</span>
          <input type="checkbox" value="" id="{{ municipality.collection }}" data-toggle="checkbox" ng-model="municipality.active" ng-change="updateOptions()">
          <label for="{{ municipality.collection }}">{{ municipality.name }}</label>
        </li>
      </ul>
    </div>

    <div class="sidebar-block">
      <h3>Jaren</h3>
      <canvas id="ychart" class="chart chart-bar" chart-data="ydata" chart-labels="ylabels" chart-series="yseries">
      </canvas>
      <div range-slider min="2006" max="2016" model-min="date.usermin" model-max="date.usermax" on-handle-up="updateOptions()" show-values="true"></div>
    </div>
  </div>
  <div id="results" class="col-md-8 col-xs-12">
   <div infinite-scroll='nextPage()' infinite-scroll-disabled='nextPageLoading' infinite-scroll-distance='1'>
      <p>Gezocht naar {{ query }}, {{ meta.total }} resultaten gevonden.</p>
      <ul ng-repeat="result in results" class="list-unstyled">
        <li>
          <div class="result" ng-class="result.meta._type" ng-if="result.meta._type" ng-include="'components/search/' + result.meta._type + '.html'">
            <h2>{{ result.name }}</h2>
            <p>{{ result.description }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
